{% extends 'store/main.html' %}

{% load static %}

{% block content %}

<div class="row">


 <div class="col-lg-6">

    <div class="box-element" id="form-wrapper">

        <form id="form">

            <div id="user-info">

                <div class="form-field">
                    <input required
                           class="form-control"
                           type="text"
                           name="name"
                           placeholder="Name..">
                </div>

                <div class="form-field">
                    <input required
                           class="form-control"
                           type="email"
                           name="email"
                           placeholder="Email..">
                </div>

            </div>


            <div id="shipping-info">

                <hr>

                <p>Shipping Information:</p>

                <hr>

                <div class="form-field">
                    <input class="form-control"
                           type="text"
                           name="address"
                           placeholder="Address..">
                </div>

                <div class="form-field">
                    <input class="form-control"
                           type="text"
                           name="city"
                           placeholder="City..">
                </div>

                <div class="form-field">
                    <input class="form-control"
                           type="text"
                           name="state"
                           placeholder="State..">
                </div>

                <div class="form-field">
                    <input class="form-control"
                           type="text"
                           name="zipcode"
                           placeholder="Zip code..">
                </div>

                <div class="form-field">
                    <input class="form-control"
                           type="text"
                           name="country"
                           placeholder="Country">
                </div>

            </div>


            <hr>

            <input id="form-button"
                   class="btn btn-success btn-block"
                   type="submit"
                   value="Continue">

        </form>

    </div>


    <br>


    <!-- PLACE ORDER BUTTON -->

    <button type="button"
            id="place-order"
            class="btn btn-success btn-block">

        Place Order

    </button>


</div> 


<!-- ORDER SUMMARY - YOUR OLD UI -->

 <div class="col-lg-6">

    <div class="box-element">

        <a class="btn btn-outline-dark"
           href="{% url 'cart' %}">

            &#x2190; Back to Cart

        </a>

        <hr>

        <h3>Order Summary</h3>

        <hr>


        {% for item in items %}

        <div class="cart-row">

            <div style="flex:2">
                <img class="row-image"
                     src="{{ item.product.imageURL }}">
            </div>

            <div style="flex:2">
                <p>{{ item.product.name }}</p>
            </div>

            <div style="flex:1">
                <p>
                    ${{ item.product.price|floatformat:2 }}
                </p>
            </div>

            <div style="flex:1">
                <p>x{{ item.quantity }}</p>
            </div>

        </div>

        {% endfor %}


        <h5>
            Items: {{ order.get_cart_items }}
        </h5>

        <h5>
            Total: ${{ order.get_cart_total }}
        </h5>
        <!-- PAYMENT METHOD -->

<div class="form-group mt-3">

    <h5>Payment Method</h5>

    <div class="form-check">
        <input class="form-check-input"
               type="radio"
               name="payment_method"
               value="COD"
               id="cod"
               required>

        <label class="form-check-label" for="cod">
            💵 Cash on Delivery
        </label>
    </div>

</div>

    </div>

</div>


</div> 


<!-- JAVASCRIPT -->

<!-- ===================================== -->

<script type="text/javascript">

    var shipping = '{{ order.shipping }}';
    var total = parseFloat('{{ order.get_cart_total }}');

    console.log('Shipping:', shipping);
    console.log('Correct Frontend Total:', total);


    // ==========================================
    // LOGGED-IN USER
    // ==========================================

    if (user != 'AnonymousUser') {

        document.getElementById('user-info').innerHTML = '';

    }


    // ==========================================
    // FORM
    // ==========================================

    var form = document.getElementById('form');
    var placeOrderButton = document.getElementById('place-order');


    // ==========================================
    // CONTINUE BUTTON
    // ==========================================

    form.addEventListener('submit', function(e) {

        e.preventDefault();

        console.log('Checking form information...');


        // Check shipping fields
        if (shipping != 'False') {

            if (
                form.address.value.trim() === '' ||
                form.city.value.trim() === '' ||
                form.state.value.trim() === '' ||
                form.zipcode.value.trim() === '' ||
                form.country.value.trim() === ''
            ) {

                alert('Please fill all shipping information first.');

                return;
            }

        }


        // Check COD payment method
        var paymentMethod = document.querySelector(
            'input[name="payment_method"]:checked'
        );


        if (!paymentMethod) {

            alert('Please select a payment method.');

            return;

        }


        if (paymentMethod.value !== 'COD') {

            alert('Please select Cash on Delivery.');

            return;

        }


        // Everything is correct
        alert('Shipping information and payment method confirmed. You can now place your order.');

    });


    // ==========================================
    // PLACE ORDER BUTTON
    // ==========================================

    placeOrderButton.addEventListener('click', function() {

        console.log('Place Order clicked');


        // ======================================
        // CHECK SHIPPING INFORMATION AGAIN
        // ======================================

        if (shipping != 'False') {

            if (
                form.address.value.trim() === '' ||
                form.city.value.trim() === '' ||
                form.state.value.trim() === '' ||
                form.zipcode.value.trim() === '' ||
                form.country.value.trim() === ''
            ) {

                alert('Please fill the shipping form first.');

                return;

            }

        }


        // ======================================
        // CHECK PAYMENT METHOD
        // ======================================

        var paymentMethod = document.querySelector(
            'input[name="payment_method"]:checked'
        );


        if (!paymentMethod) {

            alert('Please select Cash on Delivery first.');

            return;

        }


        // ======================================
        // CUSTOMER DATA
        // ======================================

        var userFormData = {

            'name': '',
            'email': '',
            'total': total

        };


        // ======================================
        // SHIPPING DATA
        // ======================================

        var shippingInfo = {

            'address': '',
            'city': '',
            'state': '',
            'zipcode': '',
            'country': ''

        };


        // ======================================
        // GUEST USER
        // ======================================

        if (user == 'AnonymousUser') {

            userFormData.name = form.name.value;
            userFormData.email = form.email.value;

        }


        // ======================================
        // LOGGED-IN USER
        // ======================================

        else {

            // Optional: get values if fields exist

            if (form.name) {
                userFormData.name = form.name.value;
            }

            if (form.email) {
                userFormData.email = form.email.value;
            }

        }


        // ======================================
        // SHIPPING
        // ======================================

        if (shipping != 'False') {

            shippingInfo.address = form.address.value;
            shippingInfo.city = form.city.value;
            shippingInfo.state = form.state.value;
            shippingInfo.zipcode = form.zipcode.value;
            shippingInfo.country = form.country.value;

        }


        console.log('User Info:', userFormData);
        console.log('Shipping Info:', shippingInfo);
        console.log('Payment Method:', paymentMethod.value);


        // Disable button to prevent double orders

        placeOrderButton.disabled = true;

        placeOrderButton.innerHTML = 'Processing Order...';


        // ======================================
        // SEND ORDER TO DJANGO
        // ======================================

        fetch('/process_order/', {

            method: 'POST',

            headers: {

                'Content-Type': 'application/json',

                'X-CSRFToken': csrftoken

            },

            body: JSON.stringify({

                'form': userFormData,

                'shipping': shippingInfo,

                 'total': total,

                'payment_method': paymentMethod.value

            })

        })


        .then(function(response) {

            console.log('Response status:', response.status);

            return response.json();

        })


        .then(function(data) {

            console.log('Server response:', data);


            // ==================================
            // ORDER SUCCESS
            // ==================================

            if (data.success === true) {


                // Clear guest cart

                if (user == 'AnonymousUser') {

                    cart = {};

                    document.cookie =
                        'cart=' +
                        JSON.stringify(cart) +
                        ';domain=;path=/';

                }


                // SUCCESS ALERT ONLY AFTER
                // DJANGO SAVES THE ORDER
//                 return JsonResponse({
//     'success': True,
//     'message': 'Order completed successfully!'
// })

                alert('Your order has been placed successfully!');


                // Redirect

                window.location.href = '/order-success/';

            }


            // ==================================
            // ORDER ERROR
            // ==================================

            else {

                console.log('Order error:', data);

                alert(
                    data.message ||
                    'There was an error processing your order.'
                );


                // Enable button again

                placeOrderButton.disabled = false;

                placeOrderButton.innerHTML = 'Place Order';

            }

        })


        .catch(function(error) {

            console.error('Error:', error);

            alert(
                'There was an error processing your order.'
            );


            // Enable button again

            placeOrderButton.disabled = false;

            placeOrderButton.innerHTML = 'Place Order';

        });

    });

</script>


{% endblock content %}

